:root {
    --primary:#631121;
    --text-primary:#BFBFBF;
    --font-sans: "DM Sans", -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', sans-serif;
    --scrollbar-width: 10px;
    --bg-primary:#1B1F26;
    --tap-highlight-color:rgba(0, 0, 0, 0);
    --scroll-bar-border:rgba(0, 0, 0, 0);
    --scroll-bar-background:#bfbfbf8a;
    --rdt-background-color:#1f242c;
    --rdt-border:#2a2f36;
    --rdtPickercolor:#580e09;
    --rdtHovercolor:#fff;
    --rdtFirst:#fff;
    --rdt-border-bottom: #580e09;
    --rdtCounterColor:#fff;
    --rdtPickerSwitchColor:#fff;
    --rdtTimeToggle:#fff;
    --tfoot-bordertop:#631121;
    --tfoot-borderbottom:#631121;
    --rdtMonth:#fff;
    --colors-blue:#992D2D;
    --colors-pink:#DCAE25;
    --colors-green:#F78A22;
    --colors-yellow:#FFD166;
    --colors-red:#7C0C1F;
    --colors-brown:#F4A625;
    --colors-yellow-one:#fcbd2c;
    --colors-yellow-two:#fcbd2c;
    --colors-purple-one:#611600;
    --colors-purple-two:#ffc000;
    --dark-1000:#000;
    --dark-900:#111;
    --dark-800:#1d1d1d;
    --dark-8000:#1d1d1d;
    --dark-pink-red:#4e3034;
    --color-light-purple:#611600;
    --color-purple:#ffc000;
    --color-dark-purple:#970d0d;
    --color-blue:90, 37, 37;
    --color-pink:#c10e3d;
    --color-green:#be0d33;
    --color-red:#ff3838;
    --color-yellow:#ffc000;
    --color-lgreen:#f78a22;
    --color-light-green:#f78a22;
    --transparent-grey:#151515;
    --color-mid-green:#bf5915;
    --color-opaque-green:#e4972e;
    --color-opaque-blue:#d98b20;
    --color-opaque-pink:#af1b0c;
    --color-pink-red:#7C0C1F;
    --color-light-brown:#F4A625;
    --color-light-yellow:#ffe7a0;
    --color-mid-yellow:#c3a150;
    --color-opaque-yellow:#fcbd2c;
    --color-cyan-blue:#F44336;
    --color-dark-pink:#221825;
    --color-dark-blue:#0F182A;
    --color-dark-1000:#000000;
    --color-dark-900:#080808;
    --color-dark-900-custom:#0808086b;
    --color-dark-850:#101010;
    --color-dark-800:#101010;
    --color-dark-800-custom:#ffffff17;
    --color-dark-700:#151515;
    --color-dark-700-custom:#151515;
    --color-darker:#151515!important;
    --color-dark-600:#303030;
    --color-dark-500:#404040;
    --color-red-900:#403e3e;
    --color-red-900-custom:#585555;
    --color-low-emphesis:#575757;
    --color-low-emphesis-custom:#575757;
    --color-primary:#BFBFBF;
    --color-secondary: #575757;
    --color-high-emphesis: #E3E3E3;
    --color-light:#c8bc05;
    --color-black:#4b4646;
    --dark-800-buffer:#101010;
}
.dark:root {
    --primary: #bfe70a;
    --text-primary:#0c0a0a;
    --font-sans: "DM Sans", -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', sans-serif;
    --scrollbar-width: 10px;
    --bg-primary:#dddedf;
    --tap-highlight-color:rgba(248, 248, 248, 0);
    --scroll-bar-border:rgb(24 6 6 / 17%);
    --scroll-bar-background:#484848;
    --rdt-background-color:#a8aaad;
    --rdt-border:#7f7f80;
    --rdtPickercolor:#580e09;
    --rdtHovercolor:rgb(0, 0, 0);
    --rdtFirst: rgb(0, 0, 0);
    --rdt-border-bottom:#580e09;
    --rdtCounterColor:rgb(0, 0, 0);
    --rdtPickerSwitchColor:rgb(0, 0, 0);
    --rdtTimeToggle:rgb(0, 0, 0);
    --tfoot-bordertop:#631121;
    --tfoot-borderbottom:#631121;
    --rdtMonth:rgb(0, 0, 0);
    --colors-blue:#992D2D;
    --colors-pink:#DCAE25;
    --colors-green:#F78A22;
    --colors-yellow:#FFD166;
    --transparent-grey:#e5e5ea;
    --colors-red:#7C0C1F;
    --colors-brown:#F4A625;
    --colors-yellow-one:#fcbd2c;
    --colors-yellow-two:#fcbd2c;
    --colors-purple-one:#611600;
    --colors-purple-two:#ffc000;
    --dark-1000:#fff;
    --dark-900:#B1b1b1;
    --dark-800:#5e5c5c;
    --dark-pink-red:#871322;
    --color-light-purple:#611600;
    --color-purple:#ffc000;
    --color-dark-purple:#970d0d;
    --color-blue:170,67,5;
    --color-pink:#c10e3d;
    --color-green:#be0d33;
    --color-red:#ff3838;
    --color-yellow:#b57234;
    --color-lgreen:#f78a22;
    --color--light-green:#f78a22;
    --color-mid-green:#bf5915;
    --color-opaque-green:#e4972e;
    --color-opaque-blue:#d98b20;
    --color-opaque-pink:#af1b0c;
    --color-pink-red:#7C0C1F;
    --color-light-brown:#F4A625;
    --color-light-yellow:#ffe7a0;
    --color-mid-yellow:#c3a150;
    --color-opaque-yellow:#fcbd2c;
    --color-cyan-blue:#F44336;
    --color-dark-pink:#F0e9f1;
    --color-dark-blue:#Bdc5d8;
    --color-dark-1000:#fff;
    --color-dark-900:#a0a1a2;
    --color-dark-900-custom:#a0a1a224;
    --color-dark-850:#65737e;
    --color-dark-800:#bebebe;
    --dark-8000:#e2e2e2;
    --color-dark-800-custom:#bebebe17;
    --color-dark-700:#bebebe;
    --color-dark-700-custom:#e5e5ea;
    --color-darker:#e5e5ea!important;
    --color-dark-600:#a7adba;
    --color-dark-500:#c0c5ce;
    --color-red-900:#e2e2e2;
    --color-red-900-custom:#d4d4d4e0;
    --color-low-emphesis:#ECEEEE;
    --color-low-emphesis-custom:#575757;
    --color-primary:#2a2f31;
    --color-secondary:#330606;
    --color-high-emphesis:#222425;
    --color-light:#671717;
    --color-black:#1f1b1b;
    --dark-800-buffer:#ffffff00; 
}